@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --text-link: #ececea;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

#screen {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

#header {
  display: flex;
  justify-content: center;
  position: static;
  top: 0;
  width: 100vw;
  height: 60px;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #0f0f0f;
  width: 100vw;
}

ul {
  display: flex;
  column-gap: 2em;
  color: var(--text-link);
}

#navlink {
  font-size: 1.5em;
  font-weight: 600;
}

#session-manager {
  display: flex;
  padding: 0.5em 2em;
  background: rgb(40, 39, 39);
}

/* Table */
#table {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 2em auto;
  border: 1px solid black;
  border-radius: 100px;
  padding: 1em;
  position: relative;
  background: rgb(2, 38, 2);
}

#card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

#bet-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  gap: 1em;
}



/* Card */

#card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 180px;
  border: 1px solid gray;
  background: #b8b8b8;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: linear;
  opacity: 1;
}

#card-facedown {
  width: 120px;
  height: 180px;
  border-radius: 6px;
  border: 1px solid #888;
  /* Optional padding/margins, etc. */
  
  background-color: #333; /* base color behind the gradients */
  background-image:
    repeating-linear-gradient(
      135deg,
      rgba(182, 182, 198, 0.5) 0px,
      rgba(30, 30, 30, 0.5) 10px,
      transparent 10px,
      transparent 20px
    );
  background-size: 120px 180px;
  background-blend-mode: multiply; /* merges the two gradients */
}



#suit {
  align-self: center;
}

#top-rank {
  align-self: flex-start;
}

#bottom-rank {
  align-self: flex-end;
}


pre {
  font-family: monospace;
}
